*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradlew.bat
/gradlew
/.gradle/
/.idea/
/build/
/gradle/
将删除 .gitignore
将删除 build.gradle
将删除 libs/
将删除 proguard-rules.pro
将删除 src/
