<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuacy.transitiondemo">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.WindowTransition">
        <activity
            android:name=".MainActivity"
            android:label="Transition学习">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".scenetransition.SceneTransitionMainActivity"
            android:label="场景动画" />

        <activity
            android:name=".scenetransition.managergo.SceneManagerGoActivity"
            android:label="场景Manage Go" />

        <activity
            android:name=".scenetransition.managergo.autotransition.SceneAutoTransitionActivity"
            android:label="AutoTransition" />

        <activity
            android:name=".scenetransition.managergo.changebounds.SceneChangeBoundsActivity"
            android:label="ChangeBounds" />

        <activity
            android:name=".scenetransition.managergo.changetransform.SceneChangeTransformActivity"
            android:label="ChangeTransform" />

        <activity
            android:name=".scenetransition.managergo.changeclipbounds.SceneChangeClipBoundsActivity"
            android:label="ChangeClipBounds" />

        <activity
            android:name=".scenetransition.managergo.changeimagetransform.SceneChangeImageTransformBoundsActivity"
            android:label="ChangeImageTransform" />

        <activity
            android:name=".scenetransition.managergo.fade.SceneFadeActivity"
            android:label="Fade" />

        <activity
            android:name=".scenetransition.managergo.slide.SceneSlideActivity"
            android:label="Slide" />

        <activity
            android:name=".scenetransition.managergo.explode.SceneExplodeActivity"
            android:label="Explode" />

        <activity
            android:name=".scenetransition.managergo.combination.SceneCombinationActivity"
            android:label="多个Transition组合" />

        <activity
            android:name=".scenetransition.delayed.SceneDelayedActivity"
            android:label="场景Delayed" />

        <activity
            android:name=".activitytransition.ActivityTransitionMainActivity"
            android:label="Activity过渡动画" />

        <activity
            android:name=".activitytransition.makecustom.MakeCustomerAnimationActivity"
            android:label="MakeCustomerAnimation" />

        <activity
            android:name=".activitytransition.makescaleup.MakeScaleUpAnimationActivity"
            android:label="MakeScaleUpAnimation" />

        <activity
            android:name=".activitytransition.makethumbnailscaleup.MakeThumbnailScaleUpAnimationActivity"
            android:label="MakeThumbnailScaleUpAnimation" />

        <activity
            android:name=".activitytransition.makescenetransition.MakeSceneTransitionActivity"
            android:label="MakeSceneTransitionAnimation" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".shareelementtransition.ShareElementTransitionMainActivity"
            android:label="Share Element Transition" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".shareelementtransition.browse.BrowseShareElementTransitionActivity"
            android:label="共享元素实例－更新共享元素" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".shareelementtransition.browse.ActivityBrowse"
            android:label="图片浏览" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".shareelementtransition.sample.SampleShareElementTransitionActivity"
            android:label="简单共享元素实例" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".shareelementtransition.sample.NextShareElementTransitionActivity"
            android:label="简单共享元素实例" />

    </application>

</manifest>