<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuacy.transitiondemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Transition主菜单">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".scenetransition.SceneTransitionMainActivity"
            android:label="场景动画"/>

        <activity android:name=".activitytransition.ActivityTransitionMainActivity"
            android:label="Activity过渡动画"/>

        <activity android:name=".shareelementtransition.ShareElementTransitionMainActivity"
            android:label="Share Element Transition"/>

        <activity android:name=".activity.ActivityTransitionActivity"
            android:label="Activity转厂动画"/>

        <activity android:name=".SceneTransitionActivity"
            android:label="Scene Animation"/>

        <activity android:name=".activity.TransitionToActivity"
            android:label="Animation目标Activity"/>
    </application>

</manifest>